/*Recordar verificar los selectores de especifidad*/
/*ID > Clase > Etiqueta*/
/*más específico que*/

h1 {
  color: rgb(0, 255, 0);
  font-size: 100px;
}

.azul {
  color: #0000ff;
}

#miParrafo {
  color: #ff7300;
}


a[href *= "google"]{
    color:rgb(0, 255, 0);
    font-size: 60px;
}