body {
  background-color: #000;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  background-color: #ffae00;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

table,
th,
td {
  border: 1px solid #000;
}
