body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #00a2ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 500px;
  max-height: 100%;
  padding: 20px;
}

.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  min-width: 60%;
  max-width: 80%;
  min-height: 60%;
  max-height: 90%;
  background-color: #fff;
}

.form-group {
  display: flex;
  max-height: 90%;
  min-height: 85%;
  margin: 25px 10px 10px 10px;
  flex-direction: column;
  border: none;
}

fieldset {
  border: none;
  margin: 5px 0px 15px 0px;
  padding: 0px;
}

legend {
  margin-bottom: 10px;
}

input {
  min-width: 95%;
  height: 25px;
  margin: 2px 0px 20px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #00a2ff;
  border-width: 1.5px;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

.botonera-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 20px;
}

.botonera-container li {
  list-style: none;
}

.btn {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 12px 30px;
  margin: 20px;
}

.btn-primary {
  background-color: #00a2ff;
}

.btn-alert {
  background-color: #da0000;
}

.hidden {
  display: none;
}

#dynamicTable table {
  margin: 10px;
  border-spacing: 0px;
  border: 1px solid #eee;
}

#dynamicTable thead tr {
  height: 30px;
  background-color: #00a2ff;
  font-size: 18px;
  color: #fff;
}

#dynamicTable tbody tr {
  font-size: 15px;
}

#dynamicTable td {
  border: 1px solid #eee;
  text-align: center;
}

#dynamicTable tbody tr:nth-child(even) {
  background-color: #eee;
}

#spinner-container {
  background-color: #000;
  align-items: center;
  justify-content: center;
}

footer{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}